*{
margin: 0;
padding: 0;
user-select: none;
}

#parent {
display: flex;
justify-content: center; 
align-items: center;
}
#calculator{
border: 4px solid black;
box-align: center;
text-align: center;
margin-top:150px ;
width: 500px;
height: 700px;
border-radius: 50px;
padding: 10px;
z-index: 100;
background-color: rgba(255, 255, 255, 0.1);


}
#rez{
border: 4px solid black;
height: 100px;
border-radius: 50px;
background-color: rgba(255, 255, 255, 0.3);



}
.nam , .sign , .del{
height: 100px;
width: 100px;
border-radius: 100px;
margin: 6px;
background: none;
background-color: rgba(255, 255, 255, 0.3);
font-size: 50px;


}
.del{
width: 200px;
margin: 20px;
}

#inf {
font-size: 90px;
float: right;

}
#sign1{
font-size: 90px;
float: left;
padding-left: 10px;
}
@media (min-width: 720px) { div#calculator {width: 1000px;} }
